.screen-forecast {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 125px;
    .forecast-date {
      font-weight: 200;
    }
    .forecast-precipitations {
      text-transform: capitalize;
      font-size: 20px;
      margin: 8px 0;
    }
    .forecast-temperature {
      display: flex;
      align-items: flex-end;
      height: 30px;
      img {
        width: 40px;
        margin-right: 7px;
      }
      p {
        font-size: 32px;
        line-height: 20px;
        font-weight: 300;
      }
    }
  }
}
@media screen and (max-width: 425px){
  .screen-forecast {
    .forecast-item {
      min-width: 100px;
      .forecast-date{
        font-size: 14px;
      }
      .forecast-precipitations {
        font-size: 16px;
      }
      .forecast-temperature {
        img {
          width: 30px;
        }
        p {
          font-size: 26px;
          line-height: 14px;
        }
      }
    }
  }
}