@import "../../assets/scss/colors";
.search-screen-wrapper {
  z-index: 3;
  padding: 40px;
  color: $white;
  .search-screen-header {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .search-field {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    outline: none;
    font-size: 16px;
    font-weight: 300;
  }
}
