@import "../../assets/scss/colors";
.details-screen-wrapper {
  z-index: 3;
  padding: 40px;
  color: $white;
  font-size: 18px;
  font-weight: 300;
  .details-section{
    .details-section-title {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
  .details-block {
    width: 100%;
    display: flex;
    .details-icon {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details-info {
      width: 55%;
      .details-info-item {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
      }
    }
  }
  .precipitation-block {
    display: flex;
    width: 100%;
    .precipitation-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin: 10px 0;
      }
    }
  }
  .wind-and-pressure-block {
    display: flex;
    justify-content: space-between;
    .mills {
      position: relative;
      img {
        width: 80px;
        position: relative;
      }
      .mill-small {
        width: 50px;
        left: -20px;
      }
      .wind-speed {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .pressure {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
