@media screen and (max-width: 425px){
  .star {
    width: 100px;
    height: 100px;
    right: 20px;
    .star-day {
      .inside-circle {
        width: 65px;
        height: 65px;
      }
    }
  }
}
