@import "../../assets/scss/colors";
@import "../../assets/scss/mixin";
.main-screen-wrapper{
  @include screen-size;
  display: flex;
  padding: 30px 30px 60px 30px;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  .screen-weather {
    display: flex;
    margin: 30px;
    .screen-weather-icon {
      height: auto;
      display: flex;
      align-items: flex-end;
      margin-right: 10px;
    }
    .screen-weather-info {
      display: flex;
      flex-direction: column;
      .weather-info-location {
        font-size: 52px;
        font-weight: 400;
      }
      .weather-info-temperature {
        font-size: 62px;
        font-weight: 300;
        line-height: 36px;
        margin-top: 10px;
        sup {
          font-size: 34px;
        }
      }
    }
  }
  .screen-forecast {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    .forecast-item {
      min-width: 125px;
      .forecast-date {
        font-weight: 200;
      }
      .forecast-precipitations {
        text-transform: capitalize;
        font-size: 20px;
        margin: 8px 0;
      }
      .forecast-temperature {
        display: flex;
        align-items: flex-end;
        height: 30px;
        img {
          width: 40px;
          margin-right: 7px;
        }
        p {
          font-size: 32px;
          line-height: 20px;
          font-weight: 300;
        }
      }
    }
  }
}
@media screen and (max-width: 425px){
  .main-screen-wrapper{
    .screen-weather {
      margin: 0;
      .screen-weather-info {
        .weather-info-location {
          font-size: 46px;
          }
        .weather-info-temperature {
          font-size: 54px;
          line-height: 36px;
        }
      }
    }
    .screen-forecast {
      .forecast-item {
        min-width: 100px;
        .forecast-date{
          font-size: 14px;
        }
        .forecast-precipitations {
          font-size: 16px;
        }
        .forecast-temperature {
          img {
            width: 30px;
          }
          p {
            font-size: 26px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
